[Unit]
Description=Image Optimizer Celery Worker
After=network-online.target mysql.service redis-server.service
Wants=network-online.target mysql.service redis-server.service

[Service]
StartLimitIntervalSec=0
User=quailshack-image-optimizer
Group=quailshack-image-optimizer
WorkingDirectory=/home/quailshack-image-optimizer/htdocs/image-optimizer.quailshack.com
EnvironmentFile=/home/quailshack-image-optimizer/htdocs/image-optimizer.quailshack.com/.env
ExecStart=/home/quailshack-image-optimizer/htdocs/image-optimizer.quailshack.com/venv/bin/celery \
    -A app.workers.celery_app worker \
    --loglevel=info \
    --concurrency=4
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
